div.grid-area {
  display: column;
  column-gap: 4rem;
  column-count: 3;
  width: 100rem;
  margin: 0 auto;
}

img {
  width: 30rem;
  border-radius: 1.5rem;
}

div.image-box {
  width: 30rem;
  margin-bottom: 4rem;
  height: fit-content;
  box-sizing: border-box;
  break-inside: avoid-column;
  page-break-inside: avoid; /*for firefox*/
  margin-bottom: 2rem;
}

div.image-footer {
  margin: 1rem 0;
}

.superhost-span {
  border: 0.16rem solid black;
  border-radius: 1rem;
  font-weight: 800;
  padding: 0.2rem 0.5rem; 
  margin-right: 0.5rem;
  cursor: pointer;
}

.rating-span {
  float: right;
}

.type-style{
  font-weight: 200;
  color: gray
}

.title-para {
  font-weight: 800;
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

@media screen and (max-width: 1600px) {
  div.grid-area {
    display: column;
    column-gap: 5rem;
    column-count: 2;
    width: 70rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  div.grid-area {
    display: column;
    column-gap: 5rem;
    column-count: 1;
    width: 30rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  div.grid-area {
    display: column;
    column-gap: 5rem;
    column-count: 1;
    width: 20rem;
    margin: 0 auto;
  }
  div.image-box {
    width: 20rem;
    margin-bottom: 4rem;
    height: fit-content;
    box-sizing: border-box;
    break-inside: avoid-column;
    page-break-inside: avoid; /*for firefox*/
    margin-bottom: 2rem;
  }
  img {
    width: 20rem;
    border-radius: 1.5rem;
  }
}
