div.grid-area {
  display: column;
  column-gap: 4rem;
  column-count: 3;
  width: 80rem;
  margin: 0 auto;
  margin-bottom: 200px;
}

img {
  width: 25rem;
  border-radius: 1.5rem;
}

div.image-box {
  border: 0.1rem solid black;
  width: 25rem;
  margin-bottom: 4rem;
  height: fit-content;
  box-sizing: border-box;
  break-inside: avoid-column;
  margin-bottom: 2rem;
}

div.image-footer {
  margin: 1rem 0;
}

.superhost-span {
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

.rating-span {
  float: right;
}

.title-para {
  display: inline-block;
  padding-top: 1rem;
}

/* div.grid-area {
  display: column;
}

img {
  width: 20rem;
}

div.image-box {
  height: max-content;
} */
