/*to remove the default margins in the browser*/
* {
  margin: 0;
}

:root {
  --radius: 0.8rem;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 1600px) {
  .App {
    background-color: red;
  }
}

@media screen and (max-width: 1200px) {
  .App {
    background-color: yellow;
  }
}

@media screen and (max-width: 600px) {
  .App{
    background-color: yellowgreen;
  }
}
